.container {
  margin: 10px;
  padding: 10px;

  .formGroup {
    margin: 10px auto 20px;
    min-width: 320px;
    max-width: 800px;

    .minMax {
      display: flex;
      flex-direction: row;

      > * + * {
        margin-left: 10px;
      }
    }
  }
}
